<div class="container">
  <form-builder [form]="form"></form-builder><br/><br/>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    Nom du formulaire : <input type="text"formControlName="name"/><br/>
    <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
      Name is required (minimum 5 characters).
    </small><br/>
    Url d'envoie : <input type="text" formControlName="formAction"/><br/>
    Largeur du formulaire : <input type="text" formControlName="width"/><br/>
    <button> Sauvegarder formulaire </button> <button *ngIf="id" [routerLink]="['/form/display', id]"> Display </button>
  </form>
  
</div>